.layout-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);  
    gap: 15px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.letter {
    background-color: #1e339b;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 8px;
}

.letA { grid-column: span 6; } 
.letB { grid-column: span 4; } 
.letE { grid-column: span 2; } 
.letC { grid-column: span 2; } 
.letD { grid-column: span 4; } 


@media (max-width: 600px) {
    .letB, .letE { 
        grid-column: span 6; 
    }
    .letC { grid-column: span 3; }
    .letD { grid-column: span 3; }
}