body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px;
    gap: 10px;
    grid-template-areas: 
"box-1 box-1 box-1 box-1"
"box-2 box-3 box-3 box-4"
"box-2 box-3 box-3 box-4"
"box-5 box-5 box-5 box-5";
    
}
.box{
    background-color: rgb(255, 252, 252);
    border: 5px solid rgb(61, 61, 255);
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 30px;
}

@media (max-width: 768px) {
    .container{
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 100px 100px 100px 100px 100px;
        grid-template-areas:
        "box-1 box-1 box-1"
        "box-3 box-3 box-3"
        "box-3 box-3 box-3"
        "box-4 box-4 box-4"
        "box-5 box-5 box-5"
    }
   .box[style*="box-2"] {
        display: none;
    }
}